/*
  Minimal CSS for the Tabular client.
*/

body {
  color: #666666;
	font-family: Arial;
	font-size: 16px;
}
.tabular-wrapper {
  margin: 40px auto;
  position: relative;
  width: 560px;
}
.title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-shadow: 2px 2px #dddddd;
}

.table-wrapper {
  border: 1px solid #cccccc;
  float: left;
  height: 259px;
  overflow-y: auto;
  width: 440px;
}
.table {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.row {
  display: table-row;
  height: 30px;
  line-height: 30px;
  list-style: none;
}
.row-header {
  background-color: #e5e5e5;
  font-weight: bold;
}
.row > span {
  border-top: 1px solid #cccccc;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.row:first-child > span {
  border-top: none;
}
.row.row-header > span {
  height: 40px;
}

.button-wrapper {
  float: right;
  margin-top: 34px;
}
button {
  background-color: #e5e5e5;
  border: 1px solid #999999;
  color: #666666;
  cursor: default;
  display: block;
  font-size: 16px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 10px 16px 30px 0;
  width: 80px;
}

.instructions {
  clear: both;
  padding-top: 20px;
	text-align: justify;
}

.status {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 14px;
}
.connected {
	color: #559955;
}
.connecting {
  color: #999999;
}
.disconnected {
  color: #995555;
}

/*
  When the UI is enabled, change colors, and shadows. The buttons can separately
  be enabled or disabled when the UI is enabled.
*/

.ui-enabled .row-header {
  background-color: #efebf5;
}
.ui-enabled button.enabled {
  box-shadow: 5px 5px 10px 0 #cccccc;
  cursor: pointer;
}
.ui-enabled button.start.enabled {
  background-color: #e5efe5;
}
.ui-enabled button.stop.enabled {
  background-color: #efe5e5
}
.ui-enabled button.enabled:hover {
   box-shadow: 2px 2px 10px 0 #cccccc;
}
.ui-enabled button.start.enabled:hover {
   background-color: #e9f3e9;
}
.ui-enabled button.stop.enabled:hover {
   background-color: #f3e9e9;
}

/* CSS3 animations. */

.status, button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* CSS3 animations, keyed in with the AngularJS animation directives. */

.row-enter, .row-leave {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.row.row-enter, .row.row-leave.row-leave-active {
  height: 0;
  line-height: 0;
  opacity: 0;
}
.row.row-leave, .row.row-enter.row-enter-active {
  height: 30px;
  line-height: 30px;
  opacity: 1;
}
