/*
  Minimal CSS for the Display client.
*/
body {
  color: #666666;
	font-family: Arial;
	font-size: 16px;
}
#display-wrapper {
  margin: 20px auto;
  width: 960px;
}
#header {
  border-bottom: 1px solid #cccccc;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  position: relative;
  width: 800px;
}
#title {
  font-size: 28px;
  letter-spacing: 3px;
  text-shadow: 2px 2px #dddddd;
}
.cluster-member {
  float: left;
  margin: 0 10px;
  width: 456px;
}
.cluster-member .name {
  display: block;
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
}
.cluster-member ul {
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 5px 0 #dddddd;
  margin: 10px;
  height: 100px;
  overflow-y: auto;
  padding: 0;
}
.cluster-member .messages {
  height: 200px;
}
.cluster-member li {
  list-style: none;
  margin: 4px 10px;
  padding: 0;
}
.timestamp {
  color: #559955;
}
.text {
  color: #555599;
}
.connections li {
  color: #886699;
}
#instructions {
  clear: both;
  margin: 0 auto;
  padding-top: 15px;
	text-align: justify;
  width: 800px;
}
#status {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#status.connected {
	color: #559955;
}
#status.connecting {
  color: #999999;
}
#status.disconnected {
  color: #995555;
}
