/*
  Minimal CSS for the Calculations client.
*/
body {
  color: #666666;
	font-family: Arial;
	font-size: 16px;
}
#calculations-wrapper {
  margin: 40px auto;
  position: relative;
  width: 500px;
}
#title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-shadow: 2px 2px #dddddd;
}
ul {
  border-top: 1px solid #CCCCCC;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
}
li {
  border-bottom: 1px solid #CCCCCC;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}
li > * {
  display: inline-block;
}
input {
	background-color: #eeeeee;
	border: 1px solid #cccccc;
  color: #666666;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  width: 150px;
}
input.enabled {
  background-color: #e5efe5;
  cursor: pointer;
}
input.enabled:hover {
	background-color: #e9f3e9;
}
.operation {
	padding: 10px;
  min-width: 50px;
  text-align: center;
}
.equals {
  padding: 10px;
}
.result {
  padding: 10px;
}
.result-error {
  color: #996666;
}
#instructions {
	text-align: justify;
}
#status {
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#status.connected {
	color: #559955;
}
#status.connecting {
  color: #999999;
}
#status.disconnected {
  color: #995555;
}
