/*
  Minimal CSS for the Echo client.
*/
body {
  color: #666666;
	font-family: Arial;
	font-size: 16px;
}
#echo-wrapper {
  margin: 40px auto;
  position: relative;
  width: 500px;
}
#title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-shadow: 2px 2px #dddddd;
}
textarea {
	background-color: #ededed;
	border: 1px solid #cccccc;
  color: #666666;
  height: 40px;
  margin-right: 30px;
  padding: 10px;
  resize: none;
  vertical-align: middle;
  width: 300px;
}
.enabled textarea {
  background-color: #efebf5;
}
button {
  background-color: #e5e5e5;
  border: 1px solid #999999;
  color: #666666;
  cursor: default;
  font-size: 20px;
  height: 40px;
  letter-spacing: 1px;
  line-height: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.enabled button {
  background-color: #e5efe5;
  box-shadow: 5px 5px 10px 0 #cccccc;
  cursor: pointer;
}
.enabled button:hover {
	 background-color: #e9f3e9;
	 box-shadow: 2px 2px 10px 0 #cccccc;
}
#echo-output {
  background-color: #ededed;
	border: 1px solid #cccccc;
	height: 200px;
	margin: 20px 0 15px;
	overflow-y: auto;
	width: 500px;
}
.enabled #echo-output {
  background-color: #ebebf5;
}
.echoed-message {
	padding: 10px;
  border-bottom: 1px solid #dddddd;
}
#instructions {
	text-align: justify;
}
#status {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#status.connected {
	color: #559955;
}
#status.connecting {
  color: #999999;
}
#status.disconnected {
  color: #995555;
}
