/*
  Minimal CSS for the Draw client.
*/
body {
  color: #666666;
	font-family: Arial;
	font-size: 16px;
}
#draw-wrapper {
  margin: 40px auto;
  position: relative;
  width: 500px;
}
#title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-shadow: 2px 2px #dddddd;
}
#canvas {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  box-shadow: 5px 5px 10px 0 #cccccc;
  height: 300px;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#canvas.enabled {
  background-color: #eeffee;
  cursor: pointer;
}
#instructions {
	text-align: justify;
}
#status {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#status.connected {
	color: #559955;
}
#status.connecting {
  color: #999999;
}
#status.disconnected {
  color: #995555;
}
